.navigation__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 1.5%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-self: stretch;

    box-sizing: border-box;

    flex-grow: 1;
}

.navigation__link:hover{

}

