.navigation__list{
    padding: 0;
    margin: 0;
    width: 100%;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: end;
    place-items: stretch;
}